In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv("Insurance.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':("squared_error","friedman_mse","absolute_error","poisson"),'splitter':("best","random"),'max_features':("sqrt","log2")}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,y_train)
res=grid.cv_results_

Fitting 5 folds for each of 16 candidates, totalling 80 fits

In [12]:
y_pred=grid.predict(X_test)
from sklearn.metrics import r2_score
r2score=r2_score(y_test,y_pred)

In [13]:
print("The R_score value for best parameter{}:".format(grid.best_params_),r2score)

The R_score value for best parameter{'criterion': 'absolute_error', 'max_features': 'log2', 'splitter': 'best'}: 0.7411008062453783

In [14]:
table=pd.DataFrame.from_dict(res)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007151,0.008000,0.005139,0.006534,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.497898,0.599518,0.643568,0.358468,0.329807,0.485852,0.125312,16
1,0.005338,0.003757,0.002828,0.003735,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.660200,0.490976,0.660448,0.647470,0.563212,0.604461,0.067337,6
2,0.004856,0.003494,0.003623,0.003682,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.571182,0.454854,0.634834,0.598097,0.656111,0.583016,0.070457,9
3,0.007653,0.003907,0.003622,0.003683,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.594920,0.491753,0.644176,0.649689,0.536851,0.583478,0.061297,8
4,0.006447,0.004483,0.003218,0.003942,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.735348,0.515519,0.676367,0.517825,0.495496,0.588111,0.098239,7
5,0.009667,0.000809,0.000406,0.000811,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.633445,0.608647,0.601947,0.601549,0.420783,0.573274,0.077132,10
6,0.006842,0.003508,0.006456,0.003685,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.610060,0.478064,0.674140,0.677923,0.684768,0.624991,0.078232,4
7,0.008043,0.000004,0.001627,0.000813,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.583648,0.472239,0.496973,0.514091,0.562774,0.525945,0.041353,15
8,0.019329,0.000972,0.000813,0.000996,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.666261,0.444791,0.656736,0.645159,0.662392,0.615068,0.085436,5
9,0.017726,0.002959,0.000813,0.000996,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.686892,0.431158,0.539951,0.348483,0.695710,0.540439,0.137366,13
10,0.018131,0.003092,0.002022,0.003135,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.736501,0.608272,0.726608,0.641108,0.619502,0.666398,0.054327,1
11,0.017302,0.006801,0.004440,0.003902,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.636564,0.572474,0.786721,0.502283,0.699190,0.639446,0.098556,3
12,0.006853,0.003932,0.004046,0.008091,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.499924,0.605596,0.449371,0.660803,0.646240,0.572387,0.083377,11
13,0.004433,0.004662,0.003625,0.004486,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.441109,0.509968,0.631209,0.630104,0.602642,0.563006,0.075361,12
14,0.007649,0.003905,0.004026,0.004218,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.587376,0.699330,0.705134,0.596866,0.637669,0.645275,0.049515,2
15,0.002829,0.003733,0.004027,0.004932,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.542796,0.543999,0.592756,0.424592,0.585600,0.537949,0.060306,14

In [20]:
import pickle
filename="Gridsearch_DTR.sav"
pickle.dump(grid,open(filename,"wb"))
load_model=pickle.load(open("Gridsearch_DTR.sav","rb"))
result=load_model.predict([[56,63.594,3,0,1]])
result

array([49577.6624])